@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  font-family: "Lato", sans-serif;
}

FButton{
  background-color: #E55473;
  font-size: 22px;
  padding: 20px 43px;
  color: white;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #E55473;
  &:hover{
    background-color: white;
    color: #E55473;
    border: 2px solid #E55473;
  }
}
#FeaturedFlowers{
  
  h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
  }
  p{
    margin-top: 30px;
    margin-bottom: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .container{
    display: flex;
    justify-content: space-between;
    .Fcard{
      .card{
        width: 460px;
        height: 540px;
        background-color: #E55473;
        text-align: center;
        padding-top: 50px;
        margin-top: 30px;
        padding: 100px 50px 0px 50px;
        border-radius: 50% 50% 0% 0%;
        margin-bottom: 30px;
        img{
          margin-top: 66px;
        }
      }
      h3{
          color: #272727;
          text-align: center;
          font-size: 24px;
          font-weight: 700;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
        }
    }
    
  } 
}
#DeliveryCard{
  .container{
    width: calc(1920px-240*2);
    margin: 0px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    .card{
      /* margin: 0px 85px; */
      text-align: center;
      padding: 85px 0px;
      p{
        color: rgba(39, 39, 39, 0.80);
        text-align: center;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
#HotDeal{
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 80px;
  .container{
    width: calc(1920px-240*2);
    margin: 0px 240px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
    .HotDealText{
      width: 60%;
      h2{
        color: #272727;
        font-size: 40px;
        font-weight: 800;
        span{
          color: #E55473;
        }
      }
      p{
        margin-top: 40px;
        margin-bottom: 60px;
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .HotDealImg{
      align-items: center;
    }
  }
}
#InstagramCard{
  margin-top: 80px;
  h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
  }
  p{
    margin-top: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .container{
    width: calc(1920px-240*2);
    margin: 0px 240px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}
#EmailCollection{
  margin: 200px 0px;
  .container{
    width: calc(1920px-240*2);
    height: 449px;
    margin: 0px 240px;
    border-radius: 8px;
    background-image: url(./Asset/Rectangle\ 9.png);
    h2{
      color: #272727;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      padding-top: 125px;
    }
    p{
      margin-top: 20px;
      margin-bottom: 50px;
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
    .emailC{
      display: flex;
      margin-left: 350px;
      input{
        /* margin-left: 20px; */
        width: 50%;
        padding: 20px;
        border-radius: 8px;
        border: none;
        /* gap: 20px; */
      }
      FButton{
        margin-left: 20px;
      }
    }
  }
}
.Footer{
  background-color: #111010;;
  .container{
    width: calc(1920px-240*2);
    margin: 0px 240px;
    text-align: center;
    padding: 240px 0px;
    h2{
      color: #E55473;
      font-size: 48px;
      font-weight: 800;
      margin-bottom: 30px;
      span{
        color: white;
      }
    }
    p{
      color: rgba(255, 255, 255, 0.90);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 30px;
    }
    h5{
      color: rgba(255, 255, 255, 0.40);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
    }
  }
}